body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    margin: 0;
    padding: 20px;
    text-align: center;
}
.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
    position: relative;
}
.gambar-komik {
    width: 100%;
    margin-bottom: 0;
    border: 1px solid #ccc;
}
h1 {
    margin-bottom: 30px;
}
a.kembali {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    background: #2ecc71;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
}

.back-arrow{
    position: absolute;
    top: 1rem;
    left: 1rem;
    text-decoration: none;
    font-size: 60px;
    color: black;
    z-index: 10;
}