* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@font-face{
    font-family: GFSDidot;
    src: url("font/GFSDidot/GFSDidot-Regular.ttf") format('truetype');
    font-weight: 100;
    font-style: normal;
}

@media (max-width: 768px){
    body {
        font-family: sans-serif;
        background-image: url("../image/Cozy Minimalist Living Room Ideas with Soft Lighting and Earth Tones.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 20px;
      }
      
      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(107, 92, 73, 0.4);
        backdrop-filter: blur(10px);
        z-index: -1;
      }
      
    .portofolio {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
        margin-top: 60px;
    }
    
    .portofolio_item {
        display: flex;
        flex-direction: row-reverse; /* Default: gambar kiri, tulisan kanan */
        align-items: center;
        background-color: rgba(255,255,255,0.1);
        padding: 10px;
        border-radius: 12px;
        gap: 10px;
    }
    
    .portofolio_item_reversed {
        display: flex;
        flex-direction: row; 
        align-items: center;
        background-color: rgba(255,255,255,0.1);
        padding: 10px;
        border-radius: 12px;
        gap: 10px;
    }
    
    .thumbnail {
        width: 100px;
        height: 150px;
        background-color: #ccc;
        border-radius: 8px;
        background-image: url("../image/Solo\ Leveling.jpg");
        background-size: cover;
        background-position: center;
        text-decoration: none;
    }
    
    .thumbnail_2 {
        width: 100px;
        height: 150px;
        background-color: #ccc;
        border-radius: 8px;
        background-image: url("../image/download (2).jpg");
        background-size: cover;
        background-position: center;
        text-decoration: none;
    }

    .label {
        color: white;
        flex: 1;
        font-family: GFSDidot;
        letter-spacing: 2px;
    }

    .back-arrow{
        padding-top: 5%;
        padding: 15px;
        position: absolute;
        top: 1rem;
        left: 1rem;
        text-decoration: none;
        font-size: 1.5rem;
        color: white;
    }
    
}
