body{
    background-repeat: no-repeat;
    background-image: url("../image/Welcome.png");
    background-size: cover;
    background-position: center ;
}

@font-face{
    font-family: NotoNastaliq;
    src: url("font/NotoNastaliq/NotoNastaliqUrdu-VariableFont_wght.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Didot;
    src: url("font/Didot/Didot.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}   

/*h2{
    display: flex;
    margin-top: 305px;
    margin-right: 30px;
    font-family: NotoNastaliq;
    letter-spacing: 2px;
    justify-content: flex-end;
    color: #605649;
    text-align: right;
    position: relative;
}

.circle{
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: transparent;
    border: 1px solid #605649;
    border-radius: 50%;
    margin-left: 320px;
    margin-top: -33px;
}

p{
    display: flex;
    font-family: Didot;
    text-align: right;
    margin-left: 175px;
    margin-top: -28px;
    font-size: 15px;
}

.hamburger{
    
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    position: absolute;
    top: 45px;
    right: 25px;
}

.hamburger span{
    display: block;
    height: 1px;
    background-color: black;
}*/

@media (max-width:768px){
    h2{
        display: flex;
        margin-top: 290px;
        margin-right: 29px;
        font-family: NotoNastaliq;
        letter-spacing: 3px;
        justify-content: flex-end;
        color: #605649;
        text-align: right;
        position: relative;
    }
    .circle{
        display: inline-block;
        width: 5px;
        height: 5px;
        background-color: transparent;
        border: 1px solid #605649;
        border-radius: 50%;
        margin-left: 315px;
        margin-top: -40px;
    }

    p{
        display: flex;
        font-family: Didot;
        text-align: right;
        margin-left: 175px;
        margin-top: -25px;
        font-size: 15px;
    }

    .hamburger{
    
        width: 25px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    
        position: absolute;
        top: 45px;
        right: 25px;
    }
    
    .hamburger span{
        display: block;
        height: 1px;
        background-color: black;
    }
}